/*
 * All CSS written is custom written by BA 2016 for Twitter Spring Interview
 */
 
* {
	font-family: "Open Sans", sans-serif;
	color: #65757D;
	transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	-webkit-user-select: none;  
	-moz-user-select: none;   
	-ms-user-select: none;     
	user-select: none;  

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	margin: 0;
}

a, a:hover, a:visited, a:focus, a:active {
	text-decoration: none;
	color:inherit;
}
.navbar {
	width: calc(100% - 40);
	height:35px;
	padding:20px;
	border-bottom: 1px #ECECEC solid;
}

.container {
	width:960px;
	display: block;
	margin:auto auto;
}

.card {
	margin-bottom:10px;
	margin-left: 5px;
    margin-right: 5px;
	border-radius: 5px;
	padding:5px 10px;
	border: 1px solid #ECECEC;
	
}

.card:hover {
	cursor: pointer;
	box-shadow: 0px 0px 0px 1px #F1F1F1;
}
.card-title {
    padding: 10px;
    font-weight: 600;
}

.card-block {
	margin:10px 0px;
	padding:10px 0px;
	border-top: 1px solid #ECECEC;
	max-height: 50px;
}
.card-author {
	font-size: 14px;
    display: inline-block;
    padding: 15px 5px;
}
.card-desc {
	word-wrap: break-word;
    padding: 10px;
}
.card-author>p {
	margin:0px !important;
	display: inline;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.card-pic {
	height: 40px;
    width: 40px;
    float: left;
    margin:5px;
    display: inline-block;
	border-radius: 50%;
}

.col {
	float: left;
	width: calc(33.333%);
}

.card-num {
    padding: 5px 10px;
    font-size: 12px;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}


.footer {
    display: block;
    margin: auto;
    width: 90px;
    margin-top:20px;
    margin-bottom:40px;
}

.page-button {
    text-align: center;
    border: 1px solid #ECECEC;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
    margin:5px;
}

.page-button:hover {
	cursor: pointer;
	opacity: .75;
}

.octicon-issue-opened {
	color: #23D655;
}

.octicon-issue-closed {
	color: #FF4D66;
}
.octicon-issue-reopened {
	color: #23D655;
}

#loading-bar .bar {
	background-color: #21ADEF !important;
}

#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: 0 !important;
  -ms-box-shadow: 0 !important;
  -webkit-box-shadow: 0 !important;
  box-shadow: 0 !important;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.logo {
	float:left;
	font-size: 1.5em;
	color:#21ADEF;
	font-family: 'Roboto Slab', serif;
}

.logo>span {
	color:#21ADEF;
	font-weight:700;
}

.logo>.mega-octicon {
	color:#21ADEF;
	padding-right:5px;
}

.share {
	border-radius:5px;
	background: #21ADEF;
	padding:10px 15px;
	position: relative;
	float: right;
	display: inline-block;
	color:white;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-size: .75em;
	letter-spacing: .5px;
}

.share:hover {
	opacity: 0.75;
	cursor: pointer;
}


.card-label {
	font-size: 12px;
	text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .5px;
    padding: 5px 10px;
    display: inline-block;
    margin: 5px;
    border-radius: 3px;
}

.card-label:before, .card-label:after {
	text-transform: none;
}

.no-data-center {
	text-align: center;
    font-size: 1.5em;
    margin: 40px;
}

.card-label:hover>.hover-issue {
	display: block;
}

.track-button {
    background: #21ADEF;
    display: inline-block;
    color: white;
    float: right;
    margin-top: -44.75px;
    z-index: 99;
    position: relative;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .5px;
    padding: 9px 15px;
    border-radius: 5px;
    margin-right: -9px;
}

.track-button:hover {
	opacity: .75;
	cursor: pointer;
}

.track-button>span {
	color:white;
	padding-left:5px;
}

.hero-url {
	width:300px;
	border-radius:5px;
	text-align: center;
	padding:30px 60px;
	margin:60px auto;
	font-size: 1.25em;
}

.hero-url.smallerHeroUrl {
    margin: 30px auto;
    width: calc(100% - 25px);
    padding: 0px;
}

.hero-url.smallerHeroUrl>form>input {
    display: inline-table;
    width: 100%;
    border: 0px;
    background: #F7F8F8;
    border-radius: 5px;
    margin-bottom: 10px;
    margin: 10px 0px;
    margin-left: -10px;
    padding: 10px;
}

.hero-url>form>input {
	display: inline-table;
	width:calc(100% - 20px);
	border:0px;
	background: #F7F8F8;
	border-radius: 5px;
	margin-bottom:10px;
	margin:10px 0px;
	margin-left:-5px;
	padding:10px;
}

.hero-url>form>input:focus {
	outline: none;
}

.hero-url>form>p {
	margin:10px;
	margin-bottom:10px;
}

.button {
	border-radius:5px;
	background: #21ADEF;
	padding:10px 15px;
	margin-top:10px;
	margin-bottom:20px;
	display: inline-block;
	color:white;
	font-size: 12px;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	letter-spacing: .5px;
}

.button>span {
	font-size: 12px;
	color:white;
	padding-left:5px;
}

.button:hover {
	cursor: pointer;
	opacity: .8;
}


.error {
	width:calc(100% - 10);
	height:auto;
	margin:5px;
	border-radius: 5px;
	font-size: 14px;
	padding:5px;
	background: #FF4D66;
	color:white;
}

.hero-url.smallerHeroUrl>form>.error {
	width: 300px;
    display: block;
    margin: 5px auto;
}


.issue-author {
    width: calc(100% - 60px);
    margin: 30px auto;
    display: block;
    margin-bottom:30px;
    text-align: center;
    border-bottom:1px solid #ECECEC;
}

.issue-author>a>img {
	height:100px;
	width:100px;
	border-radius: 50%;
}

.issue-author>.title {
	padding:30px 0px ;
	font-size: 1.5em;
	text-align: center;
}

.issue-author>.title>.label {
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color:white;
	display: inline-block;
	padding: 5px 10px;
    border-radius: 5px;
       position: relative;
    top: -3px;
    margin-right: 5px;
}

.issue-author>.title>.label.open, .issue-author>.title>.label.open>span {
	background: #23D655;
	color:white !important;
}
.issue-author>.title>.label.reopened, .issue-author>.title>.label.reopened>span {
	background: #23D655;
	color:white !important;
}
.issue-author>.title>.label.closed, .issue-author>.title>.label.closed>span {
	background: #FF4D66;
	color:white !important;
}

.issue-author>a:hover {
	opacity:.75;
}
.issue-author>a>.name {
	padding:10px 0px;
	font-size: 16px;
}
.issue-author>.date {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	padding:5px 0px;
	letter-spacing: 0.5px;
	opacity:.75;
}
.issue-body {
    opacity: 1;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: .25px;
    font-weight: 300;
    word-wrap: break-word;
}

.issue-labels {
	text-align: center;
	margin:20px 0px;
}

.issue-comments {
	margin:30px 100px;
}

.issue-comments-title {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: .5px;
	
	font-size: 12px;
	padding:10px 0px;
}

.comment-author {
	border-top:1px solid #ECECEC;
	padding:30px 0px;
}

.comment-author>.name-block>img {
    height: 60px;
    display: block;
    width: 60px;
    margin-right: 20px;
    float: left;
    border-radius: 10px;
}

.comment-author>.name-block>div {
	height:60px;
}
.comment-author>.name-block>div>.name {
	padding:2.5px;
}	
.comment-author>.name-block>div>.date {
	padding:2.5px;
}	

.comment-author>.body-block {
	text-align: left;
	padding-top: 20px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: .25px;
    word-wrap: break-word;
    font-weight: 300;
}

.card-filter {
	float: right;
    margin-top: -52px;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    margin-right: -8px;
}

.card-filter>span {
	font-size:24px;
}

.open-filter {
	padding: 5px 10px;
    border-right: 1px solid #ECECEC;
    margin-right: -6px;
    color: grey;
}

.close-filter {
    padding: 5px 10px;
    border-left: 1px solid #ECECEC;
    color: grey;
}

.open-filter:hover, .close-filter:hover {
	opacity: 0.5;
	cursor: pointer;
}

.open-filter.selected {
	color:#23D655 !important;
}

.close-filter.selected {
	color:#FF4D66 !important;
}

@media(max-width: 960px) {
	.container {
		display: inline;
		width:100%;
	}

}

@media(max-width: 700px) {
	.col {
		width:100%;
	}
	.issue-comments {
		margin-left:30px !important;
		margin-right:30px !important;
	}
	.hero-url {
		padding: 0px;
	}
	.track-button {
		margin-right: 0px;
	}
	.hero-url.smallerHeroUrl>form>input {
	    width: calc(100% - 40px);
	    margin-bottom: 10px;
	    margin-top: 0px;
	}
	.hero-url.smallerHeroUrl {
		padding:0px;
	}
	.repo-title {
		padding:0px 10px;
	}
	.card {
		border-radius: 0px;
		margin-left:0px;
		margin-right:0px;
	}
	.issue-body {
		padding:0px 20px;
	}
	.card-filter {
		margin-top: -57px;
		margin-right:0px;
	}
}

@media(max-width: 480px) {
	.hero-url {
		padding: 0px;
	}
	.track-button {
		margin-right: 0px;
	}
	.hero-url.smallerHeroUrl>form>input {
	    width: calc(100% - 40px);
	    margin-bottom: 10px;
	    margin-top: 0px;
	}
	.hero-url.smallerHeroUrl {
		padding:0px;
	}
	.repo-title {
		padding:0px 10px;
	}
	.card {
		border-radius: 0px;
		margin-left:0px;
		margin-right:0px;
	}
	.issue-body {
		padding:0px 20px;
	}
	.card-filter {
		margin-top: -57px;
		margin-right:0px;
	}
}